<div id="slideshow">
	<%= image_tag("young_lords_tall2.jpg") %>
<center id="hero-text-cont">
<div id="hero-text">THE <span style="font-family: 'gotham_ssmmedium';">BRONX</span> IS <span id="caption"></span><span id="cursor">|</span></div></center>
</div>

<ul id="transition-text">
	<li>A COLLAGE OF CULTURES</li>
	<li>A GRINDSTONE FOR SCHOLARS</li>
<!-- 	<li>THE HISTORY OF WARRIORS</li>
	<li>OUR BRONX</li> -->
	<li>A TESTAMENT TO PASSION</li>
	<li>BOTH THE CANVAS &amp; THE BRUSH</li>
	<li>THE BIRTHPLACE OF MOVEMENTS</li>
	<li><span style="font-family: 'gotham_ssmbold'">OUR BRONX.</li>
</ul>

