<%= render "homepage/slideshow" %>
<div id="hp-intro">
Community projects that reclaim the potential of the Bronx.<br>
<div id="hp-join-btn">
JOIN THE <span id="hp-join-r">R</span>EVOLUTION
</div>
</div>
<%= render "projects/projects" %>