#collab-poem-intro {  
    text-align: center;
    padding: 40px 100px;
    color: #E2E2E2;
    background-color: #2C043C;
    margin-top: -25px;
}

#collab-poem-intro h2 {	
	font-family: 'gotham_ssmextra_light';	
    line-height: 45px;
}

.js-event-list-container {
	font-family: 'gotham_ssmextra_light';
}

.list-card__organizer, 
.list-card__venue {
	color: #000 !important;
}

.l-block-2 {
	border: 1px solid #D2D2D2;
	transition: .15s all ease;
}

.l-block-2:hover {
	transform: translateX(-20px);
}

h4.list-card_title {
	font-family: 'gotham_ssmbook' !important;
    color: #6D4D6D !important;
}

#event-stream {
	max-width:35%;
	position:relative;
	padding-top:50px;
	float:right;
}

#events-title {
	height: 50px;
    line-height: 50px;
    font-size: 20px;
    background: #222;
    border-right:5px solid #222;
    margin-right:70px;
    width: 45%;
    text-align: center;
    color: #efefef;
    font-family: 'gotham_ssmlight';
    position: absolute;
    right: 0;
    top:0;
}

#events-title::before {
    border-top: 25px solid transparent;
    border-left: 25px solid transparent;
    border-right: 25px solid #222;
    border-bottom: 25px solid #222;
    content: '';
    position: absolute;
    left: -50px;
    z-index: 1000;
}

