#project-cards-container {
	display: flex;
	flex-direction: row;
	padding: 0 70px;
}

.project-card {
	width: 30%;
	min-height: 200px;
	text-align: center;
	margin:20px;
	border: 1px solid #cecece;
	position: relative;
	transition: .2s all ease;
}

.project-card:hover {
	transform: scale(1.05);
}

.pc-title {
	height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-family: 'gotham_ssmlight';
    background: #453A84;
    color: #fff;
}

.pc-img {
	width:100%;
	height:180px;
	background-size: 100% !important;
	background-position: center;
}

.pc-desc {
	font-size: 16px;
    padding: 15px;
    padding-bottom: 38px;
	font-family: 'gotham_ssmextra_light';
}

.pc-avatar img{
	border-radius: 50%;
    width: 60px;
    border-radius: 50%;
    padding: 4px;
}

.pc-avatar {
	border-radius: 50%;
	background: #fff;
	border: 1px solid #cecece;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: -30px;
}

#new-project {
	background-image: url(/assets/purple_lodyas-a81a7fb3dae28a500b8d76f8ae05c337cb0b8b44209e32fece494b7fecc0be74.jpg);
	color: #efefef;
}

#new-project .form-subtext,
#new-project input,
#new-project textarea {
	width:60%;
    font-family: 'gotham_ssmextra_light';
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#new-project input,
#new-project textarea {
	color: #222;
	padding:20px;
}

#new-project textarea {
	height:200px;
}

#new-project label {
	font-family: 'gotham_ssmbook';
    font-size: 20px;
    text-transform: uppercase;
}

#new-project h1 {
	font-family: 'gotham_ssmlight';
	text-transform: uppercase;
	margin-bottom:80px;
}

#new-project {
	text-align: center;
	padding-top:80px;
}

#new-project input[type="submit"] {
	width: 400px;
    border-radius: 30px;
    color: #5A135A;
    text-transform: uppercase;
    font-family: 'gotham_ssmbold';
}

.back-btn a {
	color: #bbb;
    line-height: 20px;
    border: 1px solid #bbb;
    padding: 5px 10px;
    border-radius: 30px;
}

.back-btn {
    padding-bottom: 30px;
}


.proj-edit-img {
	width: 300px;
	margin: 0 auto;
}

.proj-edit-img img {
	width: 100% !important;
	margin-bottom: 30px;
}

#new-project #project-image {
	width: 300px;
    margin: 0 auto;
    color: #efefef;
}

.project-images {
	position: relative;
}

.p-user-avatar img {
  width: 100%;
}

.p-user-avatar {
    width: 100px;
    position: absolute;
    left: 260px;
    border-radius: 50%;
    border: 5px solid #efefef;
    top: 230px;
    overflow: hidden;
}

.p-image {
  height:350px;
  width:350px;
  border-radius: 50%;
  border:10px solid #efefef;
  background-position: center;
  background-size: auto 100%;
}

.project-header {
	width:70%;
	margin: 0 auto;
	display: flex;
}

.project-title {
	font-size: 40px;
    padding: 140px 50px 0;
    font-family: 'gotham_ssmbook';
}

